.projects {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* margin: 10px; */
  flex-wrap: wrap;
  order: 2;
}

body {
  background: linear-gradient(30deg, #6889ad 0%, #ccf4f4 100%);
}
.project-box {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;

  width: 450px;
  min-width: 300px;
  min-height: 500px;
  background: #e4e0df;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0px 10px 9px -6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding-bottom: 10px;

  overflow-y: hidden;
  -ms-overflow-style: none;
}
.project-title-area {
  color: white;
  /* opacity: 1; */
  /* width: 100%; */
  height: 6%;
  background: #494a52;
  /* padding: 10px; */
  padding: 10px;

  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  text-align: center;
  /* display: inline-block; */
  position: sticky;
  margin: auto;
  /* width: 50%; */
}
.project-title-area a {
  color: white;
}
.project-info {
  color: black;
  text-align: left;
  padding: 5px 18px;
  list-style: block;
  margin: 0px 10px;
}
.project-info li {
  margin: 5px 10px;
}
.content {
  padding-bottom: 3%;
  width: 100%;
}
.tags_container {
  /* margin-top: 0%; */
  width: 100%;
  /* margin-bottom: 0%; */
}

.relevant_tags {
  border-width: 1px;
  border-style: solid;
  border-color: #686868;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  background-color: #58585c;
  color: #ffffff;
  font-size: 0.675em;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  border-spacing: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
