html{
  text-align: center;
  min-height: 100%;
  height: 100%;
  background: linear-gradient(65deg, #8fa3ba 0%, #b1c8e3 100%);;
  color: rgb(58, 58, 58);
  scroll-behavior: smooth;
  font-family: Electrolize;
}

hr{
  width: 50%;
  color: rgb(58, 58, 58);
  margin-top: 2%;
}

#box{
  width: 30%;
  height: 280px;
  background: #E4E0DF;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0px 10px 9px -6px rgba(0,0,0,0.31);
  display: inline-block;
}
.top-info-box{
  color: white;
  opacity: 1;
  width: 100%;
  height: 22px;
  background: #494a52;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  text-align: center;
  display: inline-block;
  
  
}
.intro{
  color: black;
  text-align: left;
  padding: 0px 18px;
  
}
a{
  text-decoration: none;
  color: blue;

}
#social_media{
  font-size: 25px;
  color: rgb(58, 58, 58);
}
.btn{
  color: rgb(58, 58, 58);
}
.btn:hover{
  color: #5c5c5c;
}
footer{
  margin: 10px;
}
