* {
  margin: 0;
  padding: 0;
}
/* body {
  background: linear-gradient(30deg, #516a85 0%, #ccf4f4 100%);
} */
hr {
  width: 50%;
  color: rgb(58, 58, 58);
  margin-top: 2%;
}
#box {
  margin-top: 50px;
  width: 550px;
  min-height: 240px;
  background: #e4e0df;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0px 10px 9px -6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding-bottom: 10px;

  overflow-y: hidden;
  -ms-overflow-style: none;
}
.top-info-box {
  color: white;
  opacity: 1;
  width: 100%;
  height: 22px;
  background: #494a52;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: inline-block;
  position: sticky;
}
@media (max-width: 500px) {
  #box {
    display: block;
    /* margin-top: auto; */
    margin-bottom: auto;
    width: 85%;
  }
  .top-info-box {
    font-size: 1em;
  }
}

.intro {
  color: black;
  text-align: left;
  padding: 5px 18px;
}
p {
  margin: 7px;
}
a {
  text-decoration: none;
  color: blue;
}
