html {
  height: 100%;
  font-family: Electrolize;
  background-repeat: no-repeat;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(30deg, #516a85 0%, #ccf4f4 100%); */
  /* font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Cantarell"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
